body {
    background: linear-gradient(-45deg, lightblue, white);
}
#header {
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;
    background: linear-gradient(blue, black);
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:750px;
    width:15%;
    float:left;
    padding:5px;	      
}
#section {
    width:70%;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
td {
    border: solid;
    width: 90%;
    padding-bottom: 10px;
    padding-left: 10px;
}
span {
    font-weight: bold;
    background-color: yellow;
}